body {
    background-color: rgb(217, 234, 240);
    font-family: Poppins;
}


#hero {
    padding-top: 95px;
}


.container {
    margin: 0px 50px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 3px 6px rgba(211, 211, 211, 0.8);
}


.judul {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}


.judul h1 {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    background: whitesmoke;
    position: fixed;
    top: 0;
    left : 0;
    width: 100%;
    box-shadow: 2px 4px rgba(211, 211, 211, 0.8);
}


.navbar ul {
    display: flex;
    justify-content: end;
    gap: 30px;
    padding: 5px;
    list-style-type: none;
    margin-right: 50px;
    margin-left: 50px;
}
  

.navbar li a {
    text-decoration: none;
    color: black;
}


.navbar li a:hover {
    opacity: 0.5;;
}


.content {
    display: flex;
    margin-bottom: 35px;
    padding: 20px 35px;
}


.content img {
    width: auto; 
    height: 180px; 
    border-radius: 50%; 
    display: flex;
}


.profile {
    margin-left: 50px;
}


.profile h1 p {
    display: flex;
    flex-direction: column;
}


.profile a {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}


.button1 {
    width: fit-content;
    height: auto;
    background-color: #4CAF50; 
    border-radius: 5px;
    color: white;
    border: 2px solid #4CAF50;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}


.button2 {
    width: fit-content;
    height: auto;
    background-color: whitesmoke; 
    border-radius: 5px;
    color: black;
    border: 2px solid #4CAF50;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}


.button1:hover {
    opacity: 0.5;  
}


.button2:hover {
    opacity: 0.5;  
}


.solid{
    border-left: 1px solid rgba(211, 211, 211, 0.8) ;
    height: 170px;
    width: 0px;
    display: inline-block;
    padding-left: 5px;
    margin-left: 50px;
}


.content td {
    padding-left: 50px;
}


input[type=text] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 12px;
    resize: vertical;
  }
  

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #4CAF50;
  }
  

input[type=submit]:hover {
    opacity: 0.5;
  }